<%# Mobile category card list for Closed (done cards) %>
<%# This partial is used by Turbo Streams to update mobile view after drag-drop %>
<div class="mobile-board__category-cards" 
     id="mobile-category-closed-cards"
     data-mobile-board-target="cardList">
  <div class="mobile-board__category-cards-inner">
    <% board.cards.closed.latest.limit(50).each do |card| %>
      <%= render "cards/display/mobile_preview", card: card, draggable: true %>
    <% end %>
    <% if board.cards.closed.count == 0 %>
      <div class="mobile-board__empty">No cards</div>
    <% end %>
  </div>
</div>
