<%# Mobile category card list for Stream (triage/maybe cards) %>
<%# This partial is used by Turbo Streams to update mobile view after drag-drop %>
<div class="mobile-board__category-cards" 
     id="mobile-category-stream-cards"
     data-mobile-board-target="cardList">
  <% board.cards.awaiting_triage.latest.limit(50).each do |card| %>
    <%= render "cards/display/mobile_preview", card: card, draggable: true %>
  <% end %>
  <% if board.cards.awaiting_triage.count == 0 %>
    <div class="mobile-board__empty">No cards</div>
  <% end %>
</div>
