<% require_relative "../lib/fizzy" %>

production: &production
  # Application functionality: notifications and summaries
  deliver_bundled_notifications:
    command: "Notification::Bundle.deliver_all_later"
    schedule: every 30 minutes

  send_due_date_reminders:
    class: Card::DueDateReminderJob
    schedule: every day at 08:00

  process_daily_notification_rules:
    class: NotificationRule::ProcessJob
    args: [{ frequency: "daily" }]
    schedule: every day at 08:30

  process_weekly_notification_rules:
    class: NotificationRule::ProcessJob
    args: [{ frequency: "weekly" }]
    schedule: every Monday at 08:30

  process_recurring_cards:
    class: Card::Recurrence::ProcessJob
    schedule: every hour at minute 5

  # Application cleanup
  auto_postpone_all_due:
    command: "Card.auto_postpone_all_due"
    schedule: every hour at minute 50
  delete_unused_tags:
    class: DeleteUnusedTagsJob
    schedule: every day at 04:02

  # Operations cleanup and backups
  clear_solid_queue_finished_jobs:
    command: "SolidQueue::Job.clear_finished_in_batches(sleep_between_batches: 0.3)"
    schedule: every hour at minute 12
  clear_solid_queue_recurring_executions:
    command: "SolidQueue::RecurringExecution.clear_in_batches"
    schedule: every hour at minute 52
  cleanup_webhook_deliveries:
    command: "Webhook::Delivery.cleanup"
    schedule: every 4 hours at minute 51
  cleanup_magic_links:
    command: "MagicLink.cleanup"
    schedule: every 4 hours
  cleanup_exports:
    command: "Account::Export.cleanup"
    schedule: every hour at minute 20

<% if Fizzy.saas? %>
  # Metrics
  yabeda_actioncable:
    command: "Yabeda::ActionCable.measure"
    schedule: every 60 seconds
<% end %>

beta: *production
staging: *production
development: *production
